.allStarSportsResort {
	background-image: url("../images/hotels/allStarSportsResort.png");
	height: 422px;
	background-repeat: no-repeat;
	margin-bottom: 15px;
	margin-right: -45px;
	background-size: 783px;
	border: 2px solid #aaaaaa;
}

.description {	
}